{% extends "blog/base.html" %}
{% block description %}Prinny's blog{%endblock%}
{% block title %}Prinny{% endblock %}
{%block body_class %} home-template {% endblock %}
{% load staticfiles %}
{% load markdown_deux_tags %}
{% block head %}
<!--{% static 'img/home-bg.jpg' %}-->
<header class="main-header" style="background-image: url({{img}})">

    {% include "widget/main-nav.html" %}
    <div class="vertical">
        <div class="main-header-content inner">
            <h1 class="page-title">the first step</h1>
            <h1 class="page-title">of mine</h1>
        </div>
    </div>
    <a class="scroll-down icon-arrow-left" href="#content" data-offset="-45"><span class="hidden">Scroll Down</span></a>
</header>
{% endblock %}


{% block body %}
<main id="content" class="content" role="main">
    {% for article in articles %}

    <article class="post">
        <header class="post-header">
            <h2 class="post-title"><a href="{% url 'blog:detail' article.pk %}">{{article.title}}</a></h2>
        </header>
        <section class="post-excerpt">
            <p><a class="read-more" href="{% url 'blog:detail' article.pk %}">{{article.content|truncatewords:50|markdown}} &raquo;</a></p>
        </section>
        <footer class="post-meta">
            <a href="{% url 'blog:category' article.category.pk %}">{{article.category}}</a>
            <time class="post-date" datetime='{{article.date|date:"b d, Y"}}'>{{article.date|date:"b d, Y"}}</time>
        </footer>
    </article>

    {% endfor %}
    {% if is_paginated %}
    <nav class="pagination" role="navigation">
        <span class="page-number">Page {{ page_obj.number }} of  {{ page_obj.paginator.num_pages }}</span>

        {% if page_obj.has_previous %}
        <a class="newer-posts" href="/?page={{page_obj.previous_page_number}}">← Newer Posts</a>
        {% endif %}
        {% if page_obj.has_next %}
        <a class="older-posts" href="/?page={{ page_obj.next_page_number }}">Older Posts →</a>
        {% endif %}
    </nav>
    {% endif %}
</main>


{% endblock %}
